<!DOCTYPE html>
<html>
<head>
  <title>LetterpressCheats</title>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
